header {
  background: white;
}

body {
  font-family: "aleo", "serif";
  padding: 10px;
}

hr {
  color: rgb(219, 218, 218);
}

.how-it-works-header {
  text-align: center;
}

article {
  background: orange;

  padding-left: 10px;
  padding-right: 10px;
}

article h1 {
  font-size: 42px;
}

article span {
  font-size: 20px;
  color: white;
}

footer {
  background-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 35px;
  padding-top: 10px;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 23px;
}

.card {
  text-align: center;
}

.card img {
  width: 50%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero img {
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .how-it-works {
    flex-direction: row;
  }

  .hero-section {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 35%;
    margin-left: 80px;
  }

  article h1 {
    width: 80%;
  }

  article h2 {
    width: 60%;
    font-size: 30px;
  }

  article span {
    font-size: 30px;
  }

  .hero-section img {
    width: 55%;
  }
}
